# Ignore compiled Python files
*.pyc

# Ignore virtual environment directory
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
env_tema1/
licenta/

# Ignore IDE configuration files
.vscode/
.idea/

# Ignore audio files
.wav
.mp3